<nav class="navbar navbar-default navbar-static-top m-b-0">
  <div class="navbar-header">
    <div class="nav navbar-top navbar-left pull-left">
      <a style="text-decoration: none; font-size: 30px; padding-left: 25px; padding-top: 8px; color: white;" [routerLink]="['/']">Smart Farm</a>
    </div>
    <ul class="nav navbar-top-links navbar-right pull-right">
      <li>
        <a class="waves-effect waves-light" [routerLink]="['/']">
          <a>Home</a>
          <i class="icon-home"></i>
          <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
        </a>
      </li>
      <li> <a class="waves-effect waves-light" [routerLink]="['/signup']">
        <a>Sign Up </a>
        <i class="icon-plus"></i>
        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
      </a>
      </li>
      <!-- /.dropdown -->
      <li> <a class="waves-effect waves-light" [routerLink]="['/login']">
        <a>Login </a>
        <i class="icon-login"></i>
        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
      </a>
      </li>

      <!--
      <a *ngIf="!isUserLoggedIn" class="btn-outline" [routerLink]="['/login']">Login</a>
      <a *ngIf="!isUserLoggedIn" class="btn-outline" [routerLink]="['/signup']">SignUp</a>
      <a *ngIf="isUserLoggedIn" class="btn-outline" [routerLink]="['/dashboard/' + userID]">Dashboard</a>
      <a *ngIf="isUserLoggedIn" class="btn-outline" [routerLink]="['/login']">Logout</a>
      -->

    </ul>
  </div>
</nav>
