navbar{
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
}
.text-uppercase {
  text-transform: none !important;
}

#mainNav {
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-transition: padding-top .3s,padding-bottom .3s;
  -moz-transition: padding-top .3s,padding-bottom .3s;
  transition: padding-top .3s,padding-bottom .3s;
  border: none;
  background-color: #23272b;
}

